<launch>
    <!-- Load parameter -->
    <rosparam command="load" file="$(find gps_camera_monitoring)/config/params.yaml" />
    
    <!-- GPS Node -->
    <node name="gps_node" pkg="gps_camera_monitoring" type="gps_node.py" output="screen">
        <param name="port" value="/dev/ttyTHS1"/>
        <param name="baudrate" value="9600"/>
    </node>

    <!-- Camera Node -->
<!-- Camera Node dengan parameter video lokal -->
	<node name="camera0_node" pkg="gps_camera_monitoring" type="camera_node.py" output="screen" respawn="true">
	    <param name="camera_id" value="0"/>
	    <param name="use_local_video" value="true"/>
	    <param name="video_path" value="$(find gps_camera_monitoring)media/videos/yqq.mp4"/>
	    <param name="loop_video" value="true"/>
	</node>
	<node name="camera1_node" pkg="gps_camera_monitoring" type="camera_node.py" output="screen" respawn="true">
	    <param name="camera_id" value="1"/>
	    <param name="use_local_video" value="true"/>
	    <param name="video_path" value="$(find gps_camera_monitoring)media/videos/yqq.mp4"/>
	    <param name="loop_video" value="true"/>
	</node>
    <!-- Recorder Node -->
    <node name="recorder_node" pkg="gps_camera_monitoring" type="recorder_node.py" output="screen">
        <param name="save_path" value="$(env HOME)/recorded_data"/>
    </node>

    <!-- RQT GUI -->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen" 
          />
</launch>
